flask
flask-cors
python-dotenv
requests
pdfplumber
PyMuPDF
pandas
python-jobspy
pymongo[srv]
PyJWT
Flask-Dance
werkzeug
langchain
langchain-community
langchain-groq
duckduckgo-search
langgraph
gunicorn
google-generativeai
itsdangerous